{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

  
   
        <!-- Navigation-->
{% block Nav %}
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#">{% block title2 %}{% endblock %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page"
                        href="{% url 'splapp:index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'splapp:buki' %}">武器一覧に戻る</a></li>
                
                
            </ul>

        </div>
    </div>
</nav>
</header>
{% endblock %}
       
        <!-- Product section-->
 {% block Section %}
  
 <body class="abc">
    <style>
        .abc{
            background:linear-gradient(to right,black, white);
 
        }
    </style>
  
 


    
    

    
    

    

 <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{object.image1.url}}" alt="..." /></div>
                    <div class="col-md-6">
                        
                        <h1 class="display-5 fw-bolder">{{object.user}}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through"></span>
                            <span>武器の種類:{{object.category}}</span><br>
                            <span>サブの種類:{{object.category2}}</span><br>
                            <span>スペシャルの種類:{{object.category3}}</span>
                        </div>
                        <p class="kaigyo"><font color="lightgreen" size="6">性能:</font>{{object.comment}}</p><br>
                        
                        <font color= "blue"size="6">作成者からの本音:</font>{{object.comment2}}</p>
                    
                    </div>
                </div>
            </div>
           
           
 </section>
        <!-- Related items section-->

</body>
{% endblock %}
        
       
    

